*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f73f3f;
}
.container{
    background: #fff;
    width: 90%;
    max-width: 500px;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 30px auto;
    align-items: center;
    display: flex;
}
.container input{
    width: 100%;
    padding: 10px 0;
    border: 0;
    outline: 0;
    font-size: 24px;
    color: #333;
}
.container img{
    width: 30px;
    cursor: pointer;
}
