*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    background: #fff;
}
.nav{
    display: flex;
    border: solid 1px teal;
    padding: 15px 20px;
    align-items: center;
    background: teal;
}
.logo{
    flex: 1;
}
.menu{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}
.menu div{
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
}
.menu div a{
    color: #fff;
    text-decoration: none;
}
.main-box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.main-box img{
    width: 150px;
    height: 150px;
}
#price-flex{
    display: flex;
    justify-content: space-around;
}
#price-flex >p:nth-child(2){
    text-decoration: line-through;
}